src/main/mule/mule-azure-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e5d9e96a-bc0c-40fa-ad25-2bfdaf9f543d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-azure-cicd-demoFlow" doc:id="07fe94c8-d537-4678-ab96-fbd0499ce571" >
		<http:listener doc:name="HTTP: GET /azure/cicd" doc:id="6ba50236-8b15-44ad-8516-91960e3d723f" config-ref="HTTP_Listener_config" path="/azure/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="937e622f-7f0a-4a14-9104-42e785048b33" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"status" : "Application deployed to cloudhub"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="24168659-d462-4a7d-a032-bdb1adc9130c" message="#[payload]"/>
	</flow>
</mule>
